@import url('form.css');
@import url('footer.css');
@import url('style.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');
/* fullscreen div */
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	top: 0px;
	display: table;
	/* background-image: url(image/bg4.jpg); */
  background-color: rgb(44, 41, 49);
	background-size: cover;
  background-position: center;

}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
  height: 100%;
	max-width: none;
  margin-top: 100px;
  box-shadow: inset 0 0 400px #000;
}
.content{

	max-width: 900px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 25%;
  margin-top: 250px;
}

.content h1{
	font-family: 'Yantramanav' , sans-serif;
	font-size: 600%;
	font-weight: 900;
	color: white;
	line-height: 60%;

}

.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 135%;
	font-weight: 400;
	 border: solid #3a6168;
	 color: #3a6168;
	 text-decoration: none;
	 text-transform: uppercase;
	padding: 13px;
	border-radius: 10px;
	transition: all 0.5s;
}
.btn:hover{
	color:#e1efe9;
	border:2px solid #e1efe9 ;
}
